#heading {
    width: 50%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(50px, calc(3vw + 3vh), 70px);
    text-shadow: 0 0 5px rgba(225, 225, 225, 0.5);
    border-bottom: 2px solid var(--text-color);
    padding-bottom: 3%;
    margin: 5vh auto;
}

#information-outside-container {
    position: relative;
    width: 80vw;
    margin: 10vw;
}

.information-container {
    width: 75%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    padding: 2.5%;
    margin-bottom: 1.5%;
    position: relative;
}

.information-container .img-container {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
}

.information-container img {
    width: 100%;
    aspect-ratio: 1/1;
    top: 5vh;
    left: 2.5vw;
}

.section {
    width: 80vw;
    margin: auto;
}

#information-outside-container {
    width: 80vw;
    margin: auto;
    height: fit-content;
}

.information-container {
    width: 65%;
    height: fit-content;
    min-height: 200px;
    display: flex;
    gap: 2.5vw;
    margin-bottom: 10vh;
    font-size: 1.25rem;

}

.information-container img {
    width: 15vw;
    height: 15vw;
    border-radius: 25px;
    border: 1px solid var(--secondary-color);
}

.information-container p {
    width: 70%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
    text-align: justify;
}

.information-container:nth-child(even){
    float: right;
    justify-content: end;
}

#full-logo-display {
    width: 42vw;
    margin-left: 30vw;
    margin-bottom: 15vh;
    aspect-ratio: 16/13;
}