* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: var(--gradient);
    background-size: 100% 100%;
    color: var(--text-color);
    user-select: none;
}

::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}

#navigation-opener {
    height: 10vh;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5vh;
    border-radius: 25px;
    padding: 0 2.5%;
    transition: 0.4s;
    cursor: pointer;
}

#navigation-opener:hover {
    transform: translateY(-5%);
    box-shadow: 0 0 20px white;
}

nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px) saturate(150%);
    transform: translateY(-100%);
}

nav a {
    border-radius: 100% !important;
    width: 15vw;
    aspect-ratio: 1/1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition: 0.4s;
}

nav a:hover {
    box-shadow: 0 0 30px white;
    transform: translateY(-5%);
}

nav a::after {
    content: '';
    border-radius: 100% !important;
    width: 5vw;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 0;
    right: -15%;
    /* Glass theme */
    background-image: radial-gradient(circle, transparent 10%, var(--text-color));
    backdrop-filter: blur(10px) saturate(160%);
    box-shadow: 0px 0px 20px rgb(124, 205, 255, 0.5);
    border: 0.25px solid white;
    border-radius: 35px;
}

nav a::before {
    content: '';
    border-radius: 100% !important;
    width: 2.5vw;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 30%;
    right: -20%;
    animation: float 6s ease-in-out infinite;
    /* Glass theme */
    background-image: radial-gradient(circle, transparent, var(--text-color));
    backdrop-filter: blur(10px) saturate(160%);
    box-shadow: 0px 0px 20px rgb(124, 205, 255, 0.5);
    border: 0.25px solid white;
    border-radius: 35px;
}

@keyframes float{
    0% {transform: translateY(0);}
    50% {transform: translateY(-5vh);}
    100% {transform: translateY(0);}
}

nav #home-page-link {
    top: 15vh;
    left: 5vw;
}

nav #home-page-link::after {
    animation: float 4s ease-in-out infinite;
}

nav #about-page-link {
    top: 60vh;
    left: 40vw;
}

nav #about-page-link::after {
    animation: float 8s ease-in-out infinite;
}

nav #profile-page-link {
    top: 20vh;
    left: 70vw;
}

nav #profile-page-link::after {
    animation: float 7s ease-in-out infinite;
}

#logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

#logo-container p {
    color: var(--text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(20px, calc(1vw + 1vh), 30px);
}

#logo-container img {
    height: 80%;
    aspect-ratio: 1/1;
}

#search-bar-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#search-bar-container input {
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    border-radius: 50px 0 0 50px;
    border: none;
    outline: none;
    color: var(--secondary-color);
}

#search-bar-container button {
    top: 0;
    right: 0;
    z-index: 99999;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0 50px 50px 0;
    height: 60%;
    aspect-ratio: 1/1;
    background-image: var(--search-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 70%;
}

#profile-button-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

#profile-button {
    background-image: var(--profile-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 100%;
    height: 60%;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    background-color: transparent;
    transition: 0.4s;
}

#profile-button:hover {
    box-shadow: 0 0 7.5px white;
    transform: translateY(-5%);
}

main {
    margin-top: 15vh;
}